<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addStaffModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addStaffModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Staff{% endblock modal-title %}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--Forms begins-->
        <form {% block Action %} action="{% url 'staff' %}" {% endblock Action %} method="POST" class="card p-3 border-dark mt-3" enctype="multipart/form-data">
          {% csrf_token %}
  
          <div class="modal-body">
  
          <!--==Block Id==-->
          {% block Value-id %}  {% endblock Value-id %}
  
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input name="username" type="text" class="form-control" placeholder="Username" required {% block Value-username %} {% endblock Value-username %}>
              {% comment %} <div class="m-3" style="color:red;">{{form.username.errors}}</div> {% endcomment %}
            </div>
  
            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input name="password1" type="password" class="form-control" placeholder="Enter Password" required {% block Value-password1 %} {% endblock Value-password1 %}>
            </div>

            <div class="mb-3">
              <label for="password2" class="form-label">Confirm Password</label>
              <input name="password2" type="password" class="form-control" placeholder="Confirm Password" required {% block Value-password2 %} {% endblock Value-password2 %}>
            </div>
  
            {% comment %} <div class="mb-3">
              <label for="first_name" class="form-label">First Name</label>
              <input name="first_name" type="text" class="form-control" placeholder="first name" required {% block Value-first_name %} {% endblock Value-first_name %}>
            </div>

            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name</label>
              <input name="last_name" type="text" class="form-control" placeholder="last name" required {% block Value-last_name %} {% endblock Value-last_name %}>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input name="email" type="email" class="form-control" placeholder="email" required {% block Value-email %} {% endblock Value-email %}>
            </div>

            <div class="mb-3">
              <label for="phone_number" class="form-label">Phone Number</label>
              <input name="phone_number" type="text" class="form-control" placeholder="phone" required {% block Value-phone_number %} {% endblock Value-phone_number %}>
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input name="address" type="text" class="form-control" placeholder="address" required {% block Value-address %} {% endblock Value-address %}>
            </div> {% endcomment %}

            <div class="form-check form-check-inline mb-3">
              <input name="is_admin" class="form-check-input" type="checkbox" id="inlineCheckbox1"  {% block Value-is_admin %} {% endblock %}>
              <label for="is_admin" class="form-check-label" for="inlineCheckbox1">Admin</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input name="is_sub_admin" class="form-check-input" type="checkbox" id="inlineCheckbox2"  {% block Value-is_sub_admin %} {% endblock %}>
              <label for="is_sub_admin" class="form-check-label" for="inlineCheckbox1">Sub Admin</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input name="is_work_staff" class="form-check-input" type="checkbox" id="inlineCheckbox3"  {% block Value-is_work_staff %} {% endblock %}>
              <label for="is_work_staff" class="form-check-label" for="inlineCheckbox1">Staff</label>
            </div>
            
            <div class="mt-4 text-center" style="width:100%;">
              <button type="submit" class="btn btn-secondary">
                {% block Btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add Staff{% endblock Btn-action %}
              </button>
              
              <button type="reset" class="btn btn-secondary" title="Reset">
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
        </div>
        </form>
        <!--Form ends-->
      </div>
    </div>
  </div>
  