{% block content %}

<div class="modal fade" {% block modal-id %} id="addCostPriceModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addCostPriceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h6 class="modal-title" id="addCostPriceModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Cost Price{% endblock modal-title %}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Forms begins-->
            <form {% block Action %} action="" {% endblock Action %} method="POST" class="card p-3 border-dark mt-3" enctype="multipart/form-data">
            {% csrf_token %}
    
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="cost_price"  value="{{products.cost_price}}">
                    </div>
                    <div class="mt-4 text-center" style="width:100%;">
                        <button type="submit" class="btn btn-secondary">
                        {% block Btn-action %}<i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp; Save{% endblock Btn-action %}
                        </button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}