{% extends 'ims/add_inventory.html' %}

<!-- Modal ID -->
{% block modal-id %} id="editInventoryModal{{ inventory.pk }}" {% endblock modal-id %}

<!-- Modal title -->
{% block modal-title %}<i class="fas fa-edit"></i>&nbsp;&nbsp; Edit Inventory{% endblock modal-title %}

<!-- Form Action -->
{% block Action %} action="{% url 'edit_inventory' %}" {% endblock Action %}

<!--==Btn action==-->
{% block Btn-action %}<i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes{% endblock Btn-action %}

<!--== All content ==-->
<!--==Block ID==-->
{% block Value-id %}
<div class="input-group mb-3">
    {% comment %} <span class="side-label btn border-secondary bg-light"><i class="fas fa-key"></i></span> {% endcomment %}
    <input type="hidden" class="form-control" name="id" value="{{inventory.id}}" readonly>
</div>
{% endblock Value-id %}

<!--Name-->
{% block Value-product_name %} value="{{inventory.product.product_name}}" {% endblock Value-product_name %}

<!--Quantity-->
{% block Value-quantity %} value="{{inventory.quantity}}" {% endblock Value-quantity %}


<!--price-->
{% block Value-cost_price %} value="{{inventory.cost_price}}" {% endblock Value-cost_price %}

{% block Value-sale_price %} value="{{inventory.sale_price}}" {% endblock Value-sale_price %}

<!--Reorder Level-->
{% block Value-reorder_level %} value="{{inventory.reorder_level}}" {% endblock Value-reorder_level %}
