<div class="modal fade" {% block modal-id %} id="reorderModal{{inventory.pk}}" {% endblock modal-id %} tabindex="-1" aria-labelledby="reorderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h6 class="modal-title" id="reorderModalLabel">{% block modal-title %}<i class="fas fa-edit"></i>&nbsp;&nbsp; Set Reorder Level{% endblock modal-title %}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Forms begins-->
            <form {% block Action %} action="{% url 'set_reorder' %}" {% endblock Action %} method="POST" class="card p-3 border-dark mt-3" enctype="multipart/form-data">
            {% csrf_token %}
    
                <div class="modal-body">
                    {% block Value-id %}
                    <div class="input-group mb-3">
                        {% comment %} <span class="side-label btn border-secondary bg-light"><i class="fas fa-key"></i></span> {% endcomment %}
                        <input type="hidden" class="form-control" name="id" value="{{inventory.id}}" readonly>
                    </div>
                    {% endblock Value-id %}

                    {% block Value-reorder_level %}
                    <div class="mb-3 py-2">
                        <label for="reorder_level" class="form-label">Reorder Level</label>
                        <input type="text" class="form-control" name="reorder_level"  value="{{inventory.reorder_level}}">
                    </div>
                    {% endblock Value-reorder_level %}

                    <div class="mt-4 text-center" style="width:100%;">
                        <button type="submit" class="btn btn-secondary">
                        {% block Btn-action %}<i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes{% endblock Btn-action %}
                        </button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
