{% extends 'base.html' %}
{% block title %} Products {% endblock title %}

{% block content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Products</h1>
            </div>
            <div class="col-auto">
                 <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center">
                                <div class="col-auto">
                                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Search</button>
                                </div>
                            </form>
                            
                        </div><!--col-->
                    </div><!--row-->
                </div><!--table-utilities-->
            </div><!--col-auto-->
        </div><!--row-->
       
        <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Products</a>
            <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Categories</a>
        </nav>
        
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">Product</th>
                                        <th class="cell">Category</th>
                                        <th class="cell">Last Updated</th>
                                        <th class="cell"></th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div class="m-2 py-2">
                                        <a class="btn app-btn-secondary " data-bs-toggle="modal" data-bs-target="#addProductModal">
                                            <i class="fas fa-plus"></i>
                                            Add Product
                                        </a>
                                    </div>    
                                    {% for products in products %}
                                    <tr>
                                        <td class="cell"><span class="truncate">{{products.product_name}}</span></td>
                                        <td class="cell">{{products.category}}</td>
                                        <td class="cell"><span class="note">{{products.last_updated}}</span></td>
                                        <td class="cell">
                                            <a class="btn-sm app-btn-secondary" data-bs-toggle="modal" data-bs-target="#editProductModal{{products.pk}}"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;
                                            <a class="btn-sm app-btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteProductModal{{products.pk}}"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    {% include 'ims/delete_product.html' %}
                                    {% include 'ims/modal_edit_product.html' %}
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div><!--table-responsive-->
                       
                    </div><!--app-card-body-->		
                </div><!--app-card-->
                <nav class="app-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav><!--app-pagination-->
                
            </div><!--tab-pane-->
            
            <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
                <div class="app-card app-card-orders-table mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            
                            <table class="table mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">Categories</th>
                                        <th class="cell">Last Updated</th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                <div class="m-2 py-2">
                                    <a class="btn app-btn-secondary " data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                        <i class="fas fa-plus"></i>
                                        Add Category
                                    </a>
                                </div>  
                                <tbody>
                                    {% for category in category %}
                                    <tr>
                                        <td class="cell">{{category.category_name}}</td>
                                        <td class="cell"><span class="note">{{category.last_updated}}</span></td>
                                        <td class="cell">
                                            <a class="btn-sm app-btn-secondary" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#editCategoryModal{{category.pk}}"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;
                                            <a class="btn-sm app-btn-secondary" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{category.pk}}"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    {% include 'ims/category_delete.html' %}
                                    {% include 'ims/edit_category.html' %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!--table-responsive-->
                    </div>
                    <!--app-card-body-->		
                </div>
                <!--app-card-->
            </div>
            <!--tab-pane-->
        </div><!--//tab-content-->
        
    </div><!--//container-fluid-->
</div><!--//app-content-->

{% endblock content %}