{% extends 'base.html' %}
{% load static %}
{% block title %} Sales {% endblock title %}

{% block content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Sales</h1>
            </div>
            <div class="col-auto">
                 <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center" method="GET" action=".">
                                <div class="col-auto">
                                    <label for="start_date">Start Date</label>
                                    <div class="input-group mb-3 date" id="datepicker">
                                        <input type="text" class="form-control" name="start_date" id="due" placeholder="yy-mm-dd" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <label for="end_date">End Date</label>
                                    <div class="input-group mb-3 date" id="datepicker">
                                        <input type="text" class="form-control" name="end_date" id="due2" placeholder="yy-mm-dd" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-calendar"></i></span>
                                    </div>
                                </div> 
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Search</button>
                                </div>  
                            </form>
                        </div><!--//col-->
                        
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->
        
        <div class="col-auto pb-2">
            <a type="submit" class="btn app-btn-secondary" href="{% url 'export_sales' %}">Export to Csv</a>
        </div>  
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">Sales Rep</th>
                                        <th class="cell">Trans Id</th>
                                        <th class="cell">Method</th>
                                        <th class="cell">Date</th>
                                        <th class="cell">Quantity</th>
                                        <th class="cell">Total</th>
                                        <th class="cell">Profit</th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for sale in sale_page %}
                                    <tr>
                                        <td class="cell">{{sale.staff}}</td>
                                        <td class="cell"><span class="truncate">{{sale.transaction_id}}</span></td>
                                        <td class="cell"><span>{{sale.method}}</span></td>
                                        <td class="cell"><span>{{sale.date_updated}}</span></td>
                                        <td class="cell"><span class="badge bg-success">{{sale.get_cart_items}}</span></td>
                                        <td class="cell">{{sale.final_total_price}}</td>
                                        <td class="cell">{{sale.total_profit}}</td>
                                        <td class="cell">
                                            <a class="btn-sm app-btn-secondary" href="{% url 'reciept' sale.id %}"><i class="fa-solid fa-receipt"></i></a>&nbsp;
                                            <a class="btn-sm app-btn-secondary" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#deleteSaleModal{{sale.pk}}"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                    {% comment %} {% include 'ims/reciept.html' %} {% endcomment %}
                                    {% include 'ims/sales_delete.html' %}
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                       
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
                <div class="pagination">
                    <span class="step-links">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination" style="color:yellow;">
                            {% if sale_page.has_previous %}
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ sale_page.previous_page_number }}">previous</a></li>
                            {% endif %}
                            {% for i in nums %}
                            <span class="current">
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                            </span>
                            {% endfor %}
                            {% if sale_page.has_next %}
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ sale_page.next_page_number }}">next</a></li>
                            {% endif %}
                        </ul>
                      </nav>
                    </span>
                </div>
        </div><!--//tab-content-->             
    </div><!--//container-fluid-->
</div><!--//app-content-->
{% endblock content %}
