{% extends 'base.html' %}
{% block title %} Delete Sales {% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card pt-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="card card-body form-group align-items-center">
                <h5>Do you want to delete {{sale.sale.id}}?</h5>
                <p>
                    <a href="">
                    <button type="submit" class="btn app-btn-secondary">Delete</button>
                    </a>
                    <a href="{% url 'sales' %}">
                    <button type="button" class="btn app-btn-secondary">Back</button>
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}