{% extends 'base.html' %}
{% block title %} Product {% endblock title %}

{% block content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Products</h1>
            </div>
            <div class="col-auto">
                 <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="docs-search-form row gx-1 align-items-center" method="GET" action=".">
                                <div class="col-auto">
                                    <input type="text" id="search-docs" name="product" class="form-control search-docs" placeholder="Product Name">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Search</button>
                                </div>
                            </form>
                            
                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->
        
        <div class="row g-4">
            {% for inventory in inventory_page %}
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <div class="app-card app-card-doc shadow-sm  h-100">
                    <div class="app-card-thumb-holder p-3">
                        <a class="btn add-cart" data-inventory="{{inventory.id}}" data-action="add">
                            <span class="icon-holder">
                                <i class="fa-solid fa-cart-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="app-card-body p-3 has-card-actions">
                        
                        <h4 class="app-doc-title truncate mb-0"><a href="">{{ inventory.product.product_name }}</a></h4>
                        <div class="app-doc-meta">
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-muted">Category:</span> {{inventory.product.category}}</li>
                                <li><span class="text-muted">Price:</span> {{inventory.sale_price}}</li>
                            </ul>
                        </div><!--//app-doc-meta-->

                    </div><!--//app-card-body-->

                </div><!--//app-card-->
               
            </div><!--//col-->
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination" style="color:yellow;">
                        {% if inventory_page.has_previous %}
                        {% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
                        <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ inventory_page.previous_page_number }}">previous</a></li>
                        {% endif %}
                        {% for i in nums %}
                        <span class="current">
                        <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                        </span>
                        {% endfor %}
                
                        {% if inventory_page.has_next %}
                        <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ inventory_page.next_page_number }}">next</a></li>
                        {% comment %} <li class="page-item"><a class="page-link" href="?page={{ product_page.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
                        {% endif %}
                    </ul>
                  </nav>
                </span>
            </div>
    </div><!--//container-fluid-->
</div>

{% endblock content %}