{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>CLT |{% block title %} {% endblock %}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> 
    
    <!-- FontAwesome JS-->
    <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/portal.css' %}">
    <link rel="stylesheet" href-"{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.theme.min.css' %}">
    
</head> 

<body class="app">
    <header class="app-header fixed-top">
        {% include 'partials/_navbar.html' %}
        {% include 'partials/_sidebar.html' %}
        
    </header>
    <div class="app-wrapper">
        {% block content %}
    

        {% endblock content %}
        {% include 'ims/add_product.html' %}
        {% include 'ims/add_category.html' %}
        {% include 'ims/sale_price.html' %}
        {% include 'ims/cost_price.html' %}
        {% include 'ims/restock.html' %}
        {% include 'ims/add_inventory.html' %}
        {% include 'ims/add_staff.html' %}
        
        {% include 'partials/_footer.html' %}
    </div>
    
    
    <!-- Javascript -->          
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    

    <!-- Charts JS -->
    <script src="{% static 'assets/plugins/chart.js/chart.min.js' %}"></script> 
    <script src="{% static 'assets/js/index-charts.js' %}"></script> 
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in item %}'{{ item.inventory.product}}', {% endfor %}],
                datasets: [{
                    label: 'largest recent sales',
                    data: [{% for item in item %}'{{ item.quantity }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                  display:true,
                  text: 'Product sale summary'
                },
            }
        });
      
      </script>
      
    </div>
</div>
</div>
</script>
    
    <!-- Page Specific JS -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/cart.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

    <script>
        $(document) .ready(function(){
            var date_input=$('input[id="due"]');
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                dateFormat: 'yy-mm-dd',
            }
            date_input.datepicker(options);
        })
    </script>
    <script>
        $(document) .ready(function(){
            var date_input=$('input[id="due2"]');
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                dateFormat: 'yy-mm-dd',
            }
            date_input.datepicker(options);
        })
    </script>
    <script>
        let user = '{{request.user}}'
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>

</body>
</html>